/* style.css */
body {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    font-family: "Georgia", serif;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin: 0 0 20px 0;
}

p {
    text-align: center;
    font-size: 18px;
    color: #333;
    line-height: 1.5;
    margin: 0 0 20px 0;
    text-indent: 30px;
}

#converter-form,
#stats-form,
#stats {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.note {
    font-weight: bold;
    font-size: 1.2em;
}

#converter-form label,
#stats-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

#input-file {
    display: block;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#keyboard-layout,
#original-layout {
    display: block;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #43a047;
}

button:active {
    background-color: #357a38;
}

form label,
form textarea,
form button {
    display: block;
    width: 100%;
    margin: 0 0 20px 0;
}

form label {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

form textarea {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
}

form button {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    padding: 10px;
    border: none;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
}

th,
td {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
}

th {
    font-weight: bold;
    background-color: #333;
    color: #fff;
}

a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 8px;
}

a:hover {
    color: #00F;
    text-decoration: underline;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: left;
}

header h1 {
    margin: 0;
    color: white;
}

header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header nav ul li a:hover {
    color: lightgrey;
}

li {
    text-align: left;
}

form label[for="minReps"] {
    display: inline-block;
    width: 600px;
    /* Adjust as needed */
    text-align: right;
    padding-right: 10px;
}

#minReps {
    display: inline-block;
}

#results:not(:empty),
#phrases:not(:empty) {
    border: 2px solid #333;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#progress-bar {
    transition: width 0.3s ease;
}

#progress-container {
    width: 50%;
    background-color: #ddd;
    border-radius: 10px;
    margin: 0 auto;
}

#progress-bar {
    width: 0%;
    height: 10px;
    background-color: #4caf50;
    border-radius: 10px;
}

#progress-label {
    margin: 20px auto;
}

#slider-range {
    width: 20%;
    border-radius: 10px;
    margin: 20px auto;
}

#slider-label {
    margin: 20px auto;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #ddd;
    /* color: #fff; */
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    font-size: 12px;
}

.fileInputContainer {
    display: inline-block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    width: 10%;
    font-size: 13px;
}

.fileInputContainer:hover {
    background-color: #43a047;
}

.fileInputContainer:active {
    background-color: #357a38;
}

#textInput {
    display: block;
    width: 20%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 16px;
    /* margin: 0 auto; */
}

#textInput::placeholder {
    text-align: center;
}

#or-label {
    margin: 20px auto;
    padding-right: 3%;
}

.toggle-label {
    display: inline-block;
    font-weight: normal;
    font-size: 16px;
    width: 20%;
    margin-left: 1%;
    text-align: left;
}

#toggles {
    margin-left: 3%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 17px;
}

.toggle:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.toggle {
    background-color: #333;
}

input:checked+.toggle:before {
    transform: translateX(13px);
}

.toggle:after {
    position: absolute;
    top: 2.5px;
    right: 5px;
    color: #ccc;
    transition: .4s;
}

input:checked+.toggle:after {
    left: 5px;
    right: auto;
    color: #333;
}

#output-chord {
    margin-right: 15%;
}

#textInput {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

#line {
    border-top: 2px solid black;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

#copy-chords {
    width: 33.5%;
    margin: 0 auto;
    font-family: "Georgia", serif;
    margin-bottom: 3%;
    margin-right: 34.5%;
}

#start-practice-button {
    font-family: "Georgia", serif;
}